/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [FirstName]
      ,[LastName]
      ,[Age]
      ,[City]
  FROM [UpskillingSeptemberCourse].[dbo].[dataSep-11-2018]
  select * from  dbo.[dataSep-11-2018] 
where Age = 56